<p style="margin-top:15px;">
    Have a nice day,<br>
    Your {{platform_name}} team
</p>

<p style="font-size:80%;margin-top:20px;">
    Sent from <a href="https://{{web_host}}" style="color:teal">{{web_host}}</a>
</p>