{{!-- <div style="margin-top:25px;margin-bottom:25px;">
    <a href="" style="cursor:default">
        <img src="https://platform.codeclarity.io/imgs/logos/logo_email.png" style="width:175px;height:auto;display:block;"/>
    </a>
</div> --}}
<h2>{{ text }}</h2>